[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imageio = "*"
imageio-ffmpeg = "*"
moviepy = "*"
matplotlib = "*"
numpy = "*"
opencv-python = "*"
pumpy = {git = "https://github.com/rk-exxec/pumpy.git"}
pydevd = "*"
pyqtgraph = "*"
pyserial = "*"
scikit-image = "*"
scipy = "*"
vimbapython = {ref = "v1.0.1", git = "https://github.com/alliedvision/VimbaPython.git"}
PySide2 = "*"
numba = "*"
userpaths = "*"
pandas = "*"
pyvisa = "*"

[dev-packages]

[requires]
python_version = "3.9"
